@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

:root {
  --Orange: hsl(25, 97%, 53%);
  --White: hsl(0, 0%, 100%);
  --Light-Grey: hsl(217, 12%, 63%);
  --Medium-Grey: hsl(216, 12%, 54%, 0.1);
  --Dark-Blue: hsl(213, 19%, 18%);
  --Very-Dark-Blue: hsl(216, 12%, 8%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--Very-Dark-Blue);
  font-size: 15px;
  font-family: "Overpass", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

li {
  list-style: none;
}

p {
  line-height: 1.5rem;
  color: var(--Light-Grey);
  font-weight: 400;
}

.container,
.thank-you {
  background: linear-gradient(
    to bottom,
    var(--Dark-Blue),
    var(--Very-Dark-Blue)
  );
  padding: 1.5rem;
  border-radius: 0.625rem;
  max-width: 380px;
}

.container img {
  background-color: var(--Medium-Grey);
  border-radius: 50%;
  padding: 0.7rem;
}

.container h1 {
  color: var(--White);
  margin: 2rem 0 1rem;
}

.container p {
  margin-bottom: 1.5rem;
}

.btn {
  height: 45px;
  width: 45px;
  color: var(--Light-Grey);
  background-color: var(--Medium-Grey);
  border: none;
  border-radius: 50%;
  text-transform: uppercase;
  transition: 0.3s;
  cursor: pointer;
}

.container ul li button:hover {
  background-color: var(--Orange);
  color: var(--White);
  font-weight: 700;
}
.container ul li button:focus {
  background-color: var(--Light-Grey);
  color: var(--White);
}

.btn-submit {
  margin-top: 1.5rem;
  width: 100%;
  font-size: 1rem;
  border: none;
  border-radius: 50px;
  background-color: var(--Orange);
  color: var(--White);
  letter-spacing: 0.1rem;
}

.btn-submit:hover {
  background-color: var(--White);
  color: var(--Orange);
  font-weight: 700;
}

.thank-you {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.thank-you img {
  margin-top: 1rem;
}

.thank-you #selected {
  margin-top: 1rem;
  background-color: var(--Dark-Blue);
  padding: 0.2rem 1rem;
  border-radius: 30px;
  color: var(--Orange);
  opacity: 0.7;
  margin-top: 1.5rem;
}

.thank-you h1 {
  color: var(--White);
  margin-top: 2rem;
  font-size: 1.5rem;
}

.thank-you #description {
  margin: 1rem 0;
}

.hidden {
  display: none;
}

.attribution {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  color: var(--White);
  font-size: 11px;
  text-align: center;
}
.attribution a {
  font-size: 16px;
  text-decoration: none;
  color: hsl(228, 45%, 44%);
}
